.footer-container{
    
    padding-top:60px;
    padding-bottom:60px;
    padding-left:0;
    padding-right:15px;
    padding-left:15px;
    display:inline-flex;
    align-items: baseline;
  justify-content:space-between;
  & .logo{
    margin-bottom:20px;
    margin-right:0;

  }
}
.footer .list{
    margin-bottom:0;
   
}
.footer-item:not(:last-child){
    margin-bottom:9px;
}
.footer {
    background-color: var(--hero-footer-bg-color);
    color:var(--hero-text-color);
    display:flex;
    justify-content:center;
& .contacts{
font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;}

& .write-or-call{
    color:rgba(255, 255, 255, 0.6);
}
}


.footer .secondp-logo {
    color:var(--hero-text-color);
    }
 
.footer .link{
    color:var(--hero-text-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
   &:hover,
    &:focus {
    color:var(--accent-text-color)
    }
    }
    

.footer-icon-header{
    font-family:var(--main-font);
    text-transform: uppercase;
 margin-bottom:20px;
 font-weight: bold;
 font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}