
//hero
.hero-button {
    min-width: 200px;
    padding: 10px 32px;
    margin:0 auto;
    font-family: var(--main-font);
    color:var(--hero-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color:var(--accent-text-color);
    cursor:pointer;
    border-radius:4px;
    border:none;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
    
&:hover,
&:focus  {
    background-color:#188CE8;
}
}



//portfolio
.portfolio-button-container{
    display:flex;
    justify-content: center;
    margin-bottom:50px;
    border:none;
   
} 
.portfolio-item:not(:last-child){
margin-right:8px;
}

.portfolio-button{
padding:6px 22px;
font-family:var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color:var(--team-bg-color);
cursor:pointer;
border: none;
border-radius: 4px;
transition-property: background-color, color, box-shadow;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);

&:hover,
&:focus{
background-color: var(--accent-text-color);
color:var(--hero-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}




//footer
.footer-contacts-part{
    justify-content:baseline;
    margin-right:70px;
}

.contact-form-signing{
margin-left:93px;

}
.contact-form-signing-header{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
font-weight: 700;
margin-bottom:20px;
}
.contact-form{
    display:block;
   justify-content:center;
    align-items:center;
    }
.contact-form-input{
    width:358px;
    height:50px;
margin-right:12px;
padding:16px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background:  var(--hero-footer-bg-color);
color:var(--hero-text-color);
outline:var(--title-text-color);
}

.contact-form-button{
    position:relative;
    padding:0;
   min-width:200px;
   padding:10px 62px 10px 29px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 1px solid #2196F3;
color:var(--hero-text-color);
font-weight: 700;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.06em;
cursor: pointer;
}
.icon-send{
    position:absolute;
    width:24px;
    height:24px;
    margin-left:10px;
    fill:var(--hero-text-color);

     }